/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2017, 11:42:34 AM
    Author     : 
*/

/*#botones pago*/
    .mercantil{
        display: none;
    }    
   /* .megasoft{
        display:none;
    }
    .medios-pago{
        display:none;
    }*/

/*end boton pago */



/*formularios */

.form-control,.table>tbody>tr>td {

    font-family: "Arial";
}

.top-20 {
margin-top: 20px;

}
.top-30 {
margin-top: 30px;
    
}

.top-40 {
  margin-top: 40px;  
}

.top-50 {
margin-top: 50px;
    
}


/* navbar */

.wrap {
  display: flex;
  justify-content: center;
  width: 33.33%;
  height: 500px;
  background: silver;
}

.inner {
  background: gold;
  align-self: center;
  padding: 2rem;
}

.last {
  background: blue;
  align-self: center;
  padding: 1rem;
}








body{
    overflow-x: hidden;
}



.img-boton-espn:hover{


    background-image: url('../img/person/telefoniaBackground.jpg')!important ;    

}

.title-confirmation{

    margin-top: 0px;
}

#invisible_deuda2{

    display: block;
}


#captcha{

    display:none;
}

.picture {
   width: 400px;
   height: 150px;
   margin:0 auto;

   margin-top: 50px;
  
    background-image: url('../img/fox-espn/boton_espn_1.jpg');
    background-repeat:no-repeat;
}

.picture:hover {
    background-image: url('../img/fox-espn/boton_espn_2.jpg');
}


.portal p{

    margin:0px;
}

.img-deco{
    max-width: 40%;

}

.help-block {

    color:#a94442;
}


.menu-complete li{
    font-family: "Roboto";
}

.menu-font{
    font-family: "Roboto";
}

.navbar-nav>li{
 font-family: "Roboto";
    
}

#invisible_deuda,#invisible_deuda2, #invisible_ci{
    display:none;
}

/*Phone Number Input "hack"*/
.phone-number::after{
 content: "-";
 position:absolute;
    right: 0px;
    color: black;
    border: 0px solid;
    top: 5px;
}

.phone-number .col-xs-3, .phone-number .col-xs-4{
    padding-left:0;
}


/*empresas css casa */

h1,h2,h3,h4,h5,h6{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    color:#1e2a4f;
}


p{
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #2b2b2b;

}

/*a{

font-size: 15px;
}*/

/*li{

    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #2b2b2b;
}
*/



#content-1 {
    display: none !important;
}
  
.internet-empresas .content-responsive-2 {
  display: none; }

.internet-empresas .content-responsive-3 {
  display: none; }

/*end empresas css casa */

/*
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: #28415c!important;
    border-color: #28415c!important;
}*/
/*
@media (min-width: 1200px) {
.nav-collapse.collapse {
height: auto !important;
overflow: visible !important;
}    
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top,#28415c0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#28415c),to(#28415c));
    background-image: linear-gradient(to bottom,#28415c 0,#28415c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 0px;
}

 .navbar {
    min-height: 6em;
    margin-bottom: 0px;
    background: #28415c;
    border-color:#28415c;
}

/* tv*/
.logo-height img{
    height: 100%;
}


/*home */
  
    .text-center2 p  {
        color:#717171;
        text-align: center;

    }
/*end home */



@media (max-width:767px) { 

    /* person tv*/
   .pddn-5 {
    padding-top: 0em !important;
    /* end person tv*/
        }

 .resp-border {

    border-left: solid white 2px;
    border-bottom: solid white 2px;
 }

 .last-border {

    border-left: solid white 2px;
    border-bottom: solid white 2px;
    border-right: solid white 2px;
    

 }

 .first-border{

    border-top: solid white 2px;
 }


}
@media (max-width:768px) { 

    /* person*/

     /*display: block;*/

    .person-back-2 {
    display: block !important;
    }

    .content-banner {
        top: 70% !important;
    }

    .content-banner h2{
        font-size: 20px;
    }

    /*end person */
   .content2 {
        left: 3% !important;
    }

    .content2 h3{
        font-size: 20px;
    }

    .content2 p{
        font-size: 16px;
    }

    .content h3{
        font-size: 20px;
    }

    .content p{
        font-size: 16px;
    }
    
    .person-section {
        text-align: center;
    }

    h3{
        font-size: 16px;
    }

    p{

        font-size: 14px;
    }


    .img-banner-hover{

        width: 14% !important;
    }

    .pdd-xs {
        text-align: center;
        padding-top: 0em !important;
        padding-bottom: 2em;
    }

/* zonas de cobertura*/

    .zone-centered {
        text-align: center;
    }

    .select-person {
        width: 50%;
    }


/* end zonas de cobertura*/
    

    /* telefonia*/

    .vertical-align2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .pdd-tp-5 {
        padding-top: 5em;
    }

    .footer-icon{
        padding-top: 5em;
    }
}


@media (max-width: 768px) and (min-width: 320px) {
    .home-sections {
        background-image: none;
    }
}


.home-sections-2  h3{
    font-size: 20px;
}



@media (min-width: 769px) {
    .pdd-top-footer {
        padding-top: 5em;
    }
}




@media (min-width:768px) { 
/* centered navigation */

    .flex {
        display: flex;
        align-items: center;
    }

    .flexcontainer {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;/* works with row or column */
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    /* person tv */
    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        margin-left: -80%;
    }

   .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: -80%;
   }
    /*end person tv */


    .person-section {
        margin: 0 auto;
    }


    .navbar-nav{
        margin:15px;
    }

}




/*telefonia*/
.telback{
    background-image: url('../img/person/telefoniaBackground.jpg') ;
}
/* end telefonia*/


@media (max-width: 768px) and (min-width: 320px) {
   .home-sections{
    height: 275px;
    background: #264e79;
    border: 1px solid #FFF;
    background-image: none !important;
    background-size: cover;
    background-repeat: no-repeat;
   }
}


@media (min-width: 769px) and (max-width: 993px) {
    .home-sections-2 h3 {

        font-size: 13px;
    }
}

@media (max-width:991px) {

    /* person telefonia*/
    /* footer*/
    .pddtpem{
        padding-top: 1.5em;
    }
    /* end person telefonia*/
}


@media (max-width:994px) {

    .person-section {
        padding-top: 1em;
    }

    .row-sections {
        top:0px !important;
    }

    .home-sections-2 {
        padding-top: 0% !important;
    }

    .home-sections-2 {
        display: block !important;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .person-section h2{
        text-align: center;
    }

    .person-section{
        text-align: center;
    }

    .clear {
        clear: both;
    }
}


.img-banner{
    width: 100%;
    top: 0px
}

.carousel-indicators .active{
    width: 16px;
    height: 16px;
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #fff;
}

.carousel-indicators li{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000;
    background-color: rgba(255, 255, 255, 0.45);
    border: 0px solid #fff; 
    border-radius: 10px;
    margin-left: 1em;
    margin-right: 1em;
}

/*.rss-icons  a{
    color: #1e2a4f;
    font-size: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
*/
.centered-icon {
    margin: 0 auto;
}

.center2 {
    margin:0 auto;
}

.link-black > div > a{
    color:#2b2b2b;
    cursor: pointer;
}

.pdd-4{
    padding: 4em;
}

.pddb{
    padding-bottom: 0;
}

.pddt-2{
    padding-top: 2em; 
}
.pdd-0{
    padding: 0; 
}
.bg-gray{
    background: #e8edf9
}

.bg-blue {
    background-color: #00c6e0;
}

.border-footer{
    border-right: 2px solid #000;
}

.center-icon2 {
    margin: 0 auto;
}

.gray-p{
    color: #717171;
}
.gray-p > p > a{
    color: #717171;
}

/* Personas section*/

.text-blue-person {
    color:#1e2a4f;
}

.p-blue p{
    color:#2b2b2b;
}

.title-footer h4{
    color:#1e2a4f;
}

.min-h-person {
    min-height: 25px;
}

.max-h {
    max-height: 230px;
    min-height: 230px;
}

.pdd-person {
    padding-top: 4em;
    padding-bottom: 4em;
}

.person-plan-background {
    background: transparent url('../img/person/personPlanBackground.jpg') no-repeat center center /cover;
    padding-bottom: 4em;
}

.bpdd{
    padding-top: 6em;
    padding-bottom: 6em;
}

.custom-img{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.full{
    height:100%;
}

.text-centered {
    text-align: center;
}

.center-img {
    margin: 0 auto;
}

.top-buffer { 
    margin-top:40px; 
}

.top-buffer-10 { 
    margin-top:10px; 
}

.top-buffer-20 { 
    margin-top:20px; 
}

.top-buffer-40 { 
    margin-top:40px; 
}

.top-buffer-60 { 
    margin-top:60px; 
}

.top-buffer-30 {
    margin-top:30px;
}

.mg-bottom-60 {
    margin-bottom: 60px;
}
.pdd {
    padding: 40px;
}
.pddn {
    padding: 0px;
}
.pdd-bottom-10{
    padding-bottom: 10px;
}

.pdd-top-10 {
    padding-top: 10px;
}

.pdd-top-20 {
    padding-top: 20px;
}

.pdd-30 {
    padding-top: 30px;
}

.bg-gray-p{
    background: #cccccc;
}

.top-buffer-80{
    margin-top: 80px;
}

.person-blue{
    background: #264e79;
}

.blue-tittle p {
    color: #ffffff;
    text-align: center;
    font-weight: 100;
}

.blue-tittle h3 {
    font-size:0.90em;
    color: #ffffff;
}

.bd-right {
    border-right: solid white 2px;
}

.blue-tittle .hr{
    height: 2.5px;
} 

.hr {
    position: relative;
    border: none;
    height: 2px;
    color: #e4e4e4;
    background: #e4e4e4;
    margin: 0 12% 30px;
    overflow: visible;
    width: 40%;
    margin:0 auto;
    margin-bottom: 5px;
}

li .hr {
    width: 100%;
}

.bg-white {
    background: #ffffff;
}

.bg-white img{
    max-width:100%;
}

.person_service{
    margin:0 auto;
}

.selectpicker{
    background: transparent;
}

.select-person{
    margin:0 auto;
}

.select-person .selectpicker{
    width: 65%;
    margin-top: 10px;
}

.test {
    position: relative;
    width:100%;
}

.test-img {
    width: 100%;
}

.content {
  position: absolute;
  top: 50%;
  left: 63%;
  max-width: 35%;
  transform: translate(0%, -50%);
}

.content-banner {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.content-banner p {
    color: white;
    text-align: center;
}

.content-banner h2 {
    color: white;
    text-align: center;
}

.content p{
    color: white;
}

.content h3{
    color: white;
}

.content2 {
  max-width: 35%;
  position: absolute;
  top: 50%;
  transform: translate(5%, -50%);
}

.spacing{
    letter-spacing: 2px;
}

.person-hidde {
    display:none;
}

.person-section {
    width:100%;
    margin: 0 auto;
}

.person-section h2{
    margin-top: 0px;
}

.content2 p {
    color: white;
}

.content2 h3{
    color: white;
}

.npdd{
    padding-right: 0px;
    padding-left: 0px;
}

.map iframe {
    max-width: 100%;
}

/* end section persona */

.nmg{
    margin-right: 0px;
    margin-left: 0px;
}

.npdd{
    padding-left: 0px;
    padding-right: 0px;
}

.img-section{
    width: 100%;
    top: 0px;
    height: 300px;
}

/*personas internet section */
.p-center{
    text-align: center;
}

.pddn-5 {
    padding-top: 5em;
}












.display-table{
    display: table;
    table-layout: fixed;
}

.display-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}


/*end personas internet section */


/*personas telefonia */




/* end personas telefonia*/


/*personas Tv */

/* hd*/
.banner-tv {

background: #e7eef8;

}

.npdd-5 {

    padding-left: 5px;
    padding-right: 5px;
}

.pdd-10 {

    padding-top: 10px;
    padding-bottom: 10px;
}

.pdd-10 p{

    font-family: OpenSans;
    font-size: 16px;
    color: #1e2a4f;
    /* font-weight: 700;*/
}




.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}


.center-img {

    margin-left: 50px;
    text-align: center;
}

.hd-background {

    background: transparent url('../img/person/tv/backTvHd.jpg') no-repeat center center /cover;
    padding-bottom: 2em;
}

.carousel-control {

    color:#353333;
    font-size: 55px;
}

.carousel-control.left {

    left: -18%;
}


.breadcrumb {

    background-color: #e7eef8;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3%;
}



.carousel-control:focus, .carousel-control:hover {

    color:#423f3f;
}

.carousel-control.right {

    right: -18%;
}

.full-width {

    width: 100%;
}

.pdd-b-40{

    padding-bottom: 40px;
}

.breadcrumb>li+li:before {

    content: "|";
}


/*end hd */

.pdd-r-10{

    border-right: solid black 2px;
    padding-right: 10px;
}


.nmgtp {

    margin-top: 0px;
}



.pddn-tv {

    padding-top: 2em;
    padding-bottom: 4em;
}

.pdd-tp1 {

    padding-top: 1em;
}


.section-tv h1 {
    text-align: center;

}

.section-tv p {
    text-align: center;
}



.mgtp-10 {

    margin-top: 10px;
}




/*end personas tv */


.person-back:hover {

    background-image: url('../img/person/person-back-2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.person-back-2{
    /*padding-top:50%;*/
    color: #FFF;
    display: none;
}

.person-back:hover .person-back-2{
    display: block;
}



/*end personas section */
/*
.home-sections{
    height: 200px;
    background: #264e79;
    border: 1px solid #FFF;
}
.home-sections:hover{
    background-image: url('../img/home/tv-back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}*/
.home-sections-2{
    padding-top:50%;
    color: #FFF;
    display: none;
}/*
.home-sections-1{
    color: #FFF;
    text-align: center;
}*/
/*
.home-sections-1 > img{
    width: 50%;
    padding-top: 50%;
}*/
/*
.home-sections:hover > .home-sections-1{
    display: none;
}
.home-sections:hover > .home-sections-2{
    display: block;
}*/


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.img-banner-hover{
    width: 30%
}
/*
.row-sections{
    position: relative;
    z-index: 10;
    top: -10em;
}*/
.div-person{
    height: 100%;
    background: rgba(40, 96, 144, 0.92);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
}
.text-white{
    color: #FFF;
}
.div-person > img{
    width: 30%;
    /*margin-top: 3em;*/
}
.div-person > p {
   /* width: 18em;*/
    /*margin: 0 10px 10px;*/
    margin: 0 auto;
    max-width: 100%;
}
.div-business{
    height: 100%;
    background: rgba(40, 96, 144, 0.92);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
}
.div-business > img{
    width: 30%;
   /* margin-top: 3em;*/
}
.div-business > p {
   /* width: 18em;
    margin: 0 10px 10px;*/
    max-width: 100%;
    margin:0 auto;

}/*
.mg-btn-5{
    margin-bottom: 5em;
}*/
/*
#phone{
    padding-top: 25%;
}*/




@media (min-width:769px){
    .left-15{
        left: 0px;
    }
    .right-15{
        right: 0px;
        margin-bottom: 5em;
    }
    .left-15 > img{
        width: 100%
    }
    .right-15 > img{
        width: 100%
    }
    .home-sections{
        /*height: 30em;*/
        min-height: 250px;
        background: #264e79;
        border: 1px solid #FFF;
        /*background-image: url('../img/home/tv-back.jpg');*/
        background-size: cover;
        background-repeat: no-repeat;
    }
    #phone-hover{
        padding-top: 12%;
    }
    /*.home-sections-1 > img{
        width: 20%;
        padding-top: 0; 
    }*/
    .home-sections-2{
        padding-top: 25%;
        display: block;
    }

    .person-back-2{
       /* padding-top: 25%;*/
        /*display: block;*/
        display: none;
    }

    .person-back-2 > p{
        font-size: 1em;
    }

    .home-sections-2 > p{
        font-size: 1em;
    }
    .div-person > p {
        /*width: 11em;*/
        font-size: 1em;
        /*margin-left: 37px;*/
        margin:0 auto;
    }
    .div-person > h3 {
        font-size: 1.4em;
    }/*
    .div-person > img{
        margin-top: 2em;
    }*/
    .div-business > p {
        /*width: 11em;*/
        font-size: 1em;
       /* margin-left: 37px;*/
       margin:0 auto;
    }
    .div-business > h3 {
        font-size: 1.4em;
    }
   /* .div-business > img{
        margin-top: 2em;
    }*/
}

/*@media (max-width:1090px) { 
  .nav.navbar-nav {

    visibility: hidden;
  }


    }*/

@media (min-width:995px){

   /* #navbar2{

    display:none !important;*/
}

@media (max-width:1023px){



}


@media (min-width:1024px){
   /* .left-15{
        left: 15px;
    }
    .right-15{
        right: 15px;
    }*/
    .home-sections{

        /*height: 275px;*/
        /*height: 200px;*/
        /*min-height: 210px;
        background: #264e79;
        border: 1px solid #FFF;*/
    }
  

/*
    .home-sections-1 > img{
        width: 50%;
     
       padding-top: 30%
    }
  */  
    .home-sections-2{
        /*padding-top: 50%;*/
        display: none;
    }

     .person-back-2{
        /*padding-top: 50%;*/
        display: none;
    }
    
    .person-back-2 > h3 {
        display: none;

    }

    .home-sections-2 > h3{
       display: none;
    }
    .home-sections-2 > p{
        font-size: 1em;
    }
    .home-sections:hover{
        background-image: url('../img/home/tv-back.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .div-person > p {
        width: 10em;
        font-size: 0.9em;
       /* margin: 0 10px 10px;*/
    }
    .div-person > h3 {
        font-size: 1em;
    }
    
    .div-business > p {
        width: 10em;
        font-size: 0.9em;
        /*margin: 0 10px 10px;*/
    }
    .div-business > h3 {
        font-size: 1em;
    }
    
}
@media (min-width:1440px){
    #phone-hover{
        /*padding-top: 50%;*/
    }
    #phone{
        padding-top: 20%;
    }
    /*
    .home-sections-1 > img{
        width: 50%;
     
       padding-top: 30%; 
    }*/
    .div-person > p {
        width: 15em;
        margin: 0 auto;
        font-size: 1em;
    }
    .div-person > h3 {
        font-size: 1.5em;
    }
    
    .div-business > p {
        width: 15em;
        margin: 0 auto;
        font-size: 1em;
    }
    .div-business > h3 {
        font-size: 1.5em;
    }
    
}
@media (min-width:2560px){
    .div-person > p {
        width: 12em;
        font-size: 2em;
        margin: 0 10px 10px;
    }
    .div-business > p {
        width: 12em;
        font-size: 2em;
        margin: 0 10px 10px;
    }
    .div-business > h3 {
        font-size: 2.5em;
    }
    .div-person > h3 {
        font-size: 2.5em;
    }
    .home-sections{
        height: 385px;
    }
    #phone{
        padding-top: 25%;
    }
    .home-sections-2 > p{
        font-size: 1.5em;
    }
    .div-business{
        left: 0em;
        width: 47%;
    }
    .div-person{
        left: 2em;
        width: 47%;
    }
}



