
.top-10 {
	margin-top: 10px;
}
.top-20 {
	margin-top: 20px;
}
.top-30 {
	margin-top: 30px;
}
.top-40 {
	margin-top: 40px;
}
.top-50 {
	margin-top: 50px;
}

/*********** ADMIN  DASHBOARD*************/



.img-circle.profile {
    width: 70%;
    background: #fff;
    margin-left: 15%;
    z-index: 1000;
    position: inherit;
    margin-top: 20px;
    border: 1px solid rgba(52, 73, 94, 0.44);
}
.button-form {
    min-width: 100px;
}


/***********END ADMIN  DASHBOARD*************/
